.header {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 1rem;
	position: relative;
	z-index: 100;
	box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);

	.logo {
		height: 70px;
		width: auto;
		cursor: pointer;
	}

	.user-dropdown {
		margin-left: auto;
	}

	.user-container {
		display: flex;
		align-items: center;
		gap: 7px;

		img {
			width: 24px;
			border-radius: 50%;
		}
	}
}
