.home-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

app-header {
	width: 100%;
}

.search-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;

	input {
		width: 100%;
		padding: 5px;
		font-size: 16px;
		border: none;
		background-color: inherit;
		color: inherit;

		&:active,
		&:focus,
		&:focus-visible {
			outline: none;
		}
	}
}

.drawer-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 30px 0;
	padding-left: 30px;
	box-sizing: border-box;

	.drawer {
		max-height: calc(100vh - 110px);
		overflow: auto;
	}

	.drawer-content {
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
	}

	.restaurant-count {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}
}

.subkitchens {
	margin-top: 0;

	li {
		list-style-type: none;
	}
}

mat-expansion-panel {
	background-color: var(--foreground-color);
	user-select: none;
}

mat-list {
	padding: unset;
}

mat-list-item {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100% !important;
	background-color: var(--foreground-color);
	margin-bottom: 10px;
	border-radius: 10px;

	.restaurant {
		display: flex;
		flex-direction: row;
		align-items: center;

		.restaurant-logo {
			border-radius: 10px;
			height: 80px;
			width: auto;
			margin-right: 30px;
		}

		.restaurant-info-container {
			.restaurant-name {
				font-weight: 500;
				margin-bottom: 0;
			}

			.restaurant-street {
				margin-bottom: 0;
			}

			.restaurant-city {
				margin-top: -5px;
			}

			.restaurant-city,
			.restaurant-street,
			.restaurant-subkitchens {
				color: var(--grey-text-color);
			}
		}

		.restaurant-vote-container {
			display: flex;
			flex-direction: column;
			margin-left: auto;

			.restaurant-upvote-button,
			.restaurant-downvote-button {
				position: relative;
				background-color: inherit;
				border-color: transparent;
				border-radius: 50%;
				color: inherit;
				cursor: pointer;
				transition-duration: 0.4s;

				mat-icon {
					padding: 7px;
				}

				:hover {
					background-color: #2c272b;
					transition: background-color 0.1s;
					border-radius: 50%;
				}

				:active {
					background-color: #342f32;
					border-radius: 50%;
					transition: background-color cubic-bezier(0.68, -0.55, 0.265, 1.55);
				}
			}
		}
	}
}
