<div class="home-page-container">
	<app-header></app-header>

	<div class="drawer-container">
		<div class="drawer">
			<div class="search-container">
				<mat-icon fontIcon="search"></mat-icon>
				<input type="text" [(ngModel)]="searchText" placeholder="Search restaurants..."
				(keyup)="onSearchChange($event)" />
			</div>
			<div class="kitchens">
				<mat-accordion multi>
					@for (kitchen of kitchens; track kitchen) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-checkbox class="kitchen-checkbox"
									[checked]="kitchenFilter[kitchen.id].checked"
									[indeterminate]="someChecked(kitchen.id)"
									(change)="setAll(kitchen.id, $event.checked)"
									(click)="$event.stopPropagation()">
									{{ kitchen.description_de }}
								</mat-checkbox>
							</mat-expansion-panel-header>
							<ul class="subkitchens">
								@for (subkitchen of kitchen.subkitchens; track subkitchen) {
									<li>
										<mat-checkbox [(ngModel)]="kitchenFilter[kitchen.id].subkitchens[subkitchen.id].checked" (ngModelChange)="updateAllComplete(kitchen.id, subkitchen.id)">
											{{ subkitchen.description_de }}
										</mat-checkbox>
									</li>
								}
							</ul>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</div>
		</div>
		<div class="drawer-content">
			<div class="restaurant-count">Wähle aus {{ filteredCustomRestaurants.length + filteredLieferandoRestaurants.length }} Restaurants</div>
			<div class="restaurants-label">Custom restaurants</div>
			<mat-list>
				@for (restaurant of filteredCustomRestaurants; track restaurant) {
					<mat-list-item>
						<div class="restaurant" id="{{ restaurant.id }}">
							<img class="restaurant-logo" [src]="restaurant.logourl" alt="{{ restaurant.name }}">
							<div class="restaurant-info-container">
								<h3 class="restaurant-name">{{ restaurant.name }}</h3>
								<p class="delivery-methods">{{ getDeliveryMethods(restaurant.deliveryMethods) }}</p>
								<p class="restaurant-row1">{{ restaurant.street }}</p>
								<p class="restaurant-row2">{{ restaurant.city }}</p>
								<p class="restaurant-row3">{{ getSubkitchenDescriptions(restaurant.subkitchens) }}</p>
							</div>
							<div class="restaurant-vote-container">
								<button class="restaurant-upvote-button"><mat-icon>keyboard_arrow_up</mat-icon></button>
								<button class="restaurant-downvote-button"><mat-icon>keyboard_arrow_down</mat-icon></button>
							</div>
						</div>
					</mat-list-item>
				}
			</mat-list>
			<div class="restaurants-label">Lieferando restaurants</div>
			@for (group of filteredLieferandoRestaurants | groupRestaurants; track group) {
				<h2>{{ getGroupName(group.key) }}</h2>
				<mat-list>
					@for (restaurant of group.value; track restaurant) {
						<mat-list-item>
							<div class="restaurant" id="{{ restaurant.id }}">
								<img class="restaurant-logo" [src]="restaurant.logourl" alt="{{ restaurant.name }}">
								<div class="restaurant-info-container">
									<h3 class="restaurant-name">{{ restaurant.name }}</h3>
									<p class="delivery-methods">{{ getDeliveryMethods(restaurant.deliveryMethods) }}</p>
									<p class="restaurant-row1"><mat-icon>star</mat-icon> {{ restaurant.rating }} ({{ restaurant.ratingCount }}) · {{ getSubkitchenDescriptions(restaurant.subkitchens) }}</p>
									<p class="restaurant-row2">
										<mat-icon>schedule</mat-icon> {{ getEta(restaurant) }}
										@if (group.key !== 'closed') {
											· <mat-icon>pedal_bike</mat-icon> {{ getDeliveryCosts(restaurant.deliveryCosts) }} · <mat-icon>shopping_basket</mat-icon> {{ getMinCosts(restaurant.deliveryCosts) }}
										}
									</p>
									<p class="restaurant-row3"><mat-icon>near_me</mat-icon> {{ getDistance(restaurant.distance) }} · <mat-icon>pin_drop</mat-icon> {{ restaurant.street }}</p>
									<p class="restaurant-row4">{{ getFreeDeliveryAmount(restaurant) }}</p>
								</div>
								<div class="restaurant-vote-container">
									<button class="restaurant-upvote-button"><mat-icon>keyboard_arrow_up</mat-icon></button>
									<button class="restaurant-downvote-button"><mat-icon>keyboard_arrow_down</mat-icon></button>
								</div>
							</div>
						</mat-list-item>
					}
				</mat-list>
			}
		</div>
	</div>
</div>
