<div class="home-page-container">
	<app-header></app-header>

	<div class="drawer-container">
		<div class="drawer">
			<div class="search-container">
				<mat-icon fontIcon="search"></mat-icon>
				<input type="text" [(ngModel)]="searchText" placeholder="Search restaurants..."
				(keyup)="onSearchChange($event)" />
			</div>
			<div class="kitchens">
				<mat-accordion multi>
					@for (kitchen of kitchens; track kitchen) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-checkbox class="kitchen-checkbox"
									[checked]="kitchenFilter[kitchen.id].checked"
									[indeterminate]="someChecked(kitchen.id)"
									(change)="setAll(kitchen.id, $event.checked)"
									(click)="$event.stopPropagation()">
									{{ kitchen.description_de }}
								</mat-checkbox>
							</mat-expansion-panel-header>
							<ul class="subkitchens">
								@for (subkitchen of kitchen.subkitchens; track subkitchen) {
									<li>
										<mat-checkbox [(ngModel)]="kitchenFilter[kitchen.id].subkitchens[subkitchen.id].checked" (ngModelChange)="updateAllComplete(kitchen.id, subkitchen.id)">
											{{ subkitchen.description_de }}
										</mat-checkbox>
									</li>
								}
							</ul>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</div>
		</div>
		<div class="drawer-content">
			<div class="restaurant-count">Wähle aus {{ filteredCustomRestaurants.length + filteredLieferandoRestaurants.length }} Restaurants</div>
			@if (filteredCustomRestaurants.length > 0) {
				<h1 class="restaurants-label">Custom restaurants</h1>
			}
			<mat-list>
				@for (restaurant of filteredCustomRestaurants; track restaurant) {
					<mat-list-item>
						<div class="restaurant" id="{{ restaurant.id }}">
							<img class="restaurant-logo" [src]="restaurant.logourl" alt="{{ restaurant.name }}">
							<div class="restaurant-info-container">
								<h3 class="restaurant-name">{{ restaurant.name }}</h3>
								<p class="delivery-methods">{{ getDeliveryMethods(restaurant) }}</p>
								<p class="restaurant-row1">{{ getSubkitchenDescriptions(restaurant.subkitchens) }}</p>
								<p class="restaurant-row2"><mat-icon>pin_drop</mat-icon> {{ restaurant.street }}, {{ restaurant.city }}</p>
							</div>
							<div class="restaurant-vote-container">
								<button class="restaurant-upvote-button" (click)="upvote(restaurant, false)"><mat-icon>keyboard_arrow_up</mat-icon></button>
								<div class="restaurant-votes">{{ restaurant.votes ?? 0 }}</div>
								<button class="restaurant-downvote-button" (click)="downvote(restaurant, false)"><mat-icon>keyboard_arrow_down</mat-icon></button>
							</div>
						</div>
					</mat-list-item>
				}
			</mat-list>
			@if (filteredLieferandoRestaurants.length > 0) {
				<h1 class="restaurants-label">Lieferando restaurants</h1>
			}
			@for (group of filteredLieferandoRestaurants | groupRestaurants; track group) {
				@if (group.value.length > 0) {
					<h2>{{ getGroupName(group.key) }}</h2>
				}
				<mat-list>
					@for (restaurant of group.value; track restaurant) {
						<mat-list-item [class.new]="restaurant.new">
							<div class="restaurant" id="{{ restaurant.id }}">
								<img class="restaurant-logo" [src]="restaurant.logourl" alt="{{ restaurant.name }}">
								<div class="restaurant-info-container">
									<h3 class="restaurant-name">{{ restaurant.name }}</h3>
									<div class="delivery-methods">
										<span>{{ getDeliveryMethods(restaurant.deliveryMethods) }}</span>
									</div>
									<div class="restaurant-row1">
										<mat-icon>star</mat-icon><span>{{ restaurant.rating }} ({{ restaurant.ratingCount }})</span>
										<span>·</span><span>{{ getSubkitchenDescriptions(restaurant.subkitchens) }}</span>
									</div>
									<div class="restaurant-row2">
										<div [class.closed]="isClosed(restaurant)"><mat-icon>schedule</mat-icon><span>{{ getEta(restaurant) }}</span></div>
										@if (group.key !== 'closed') {
											<span>·</span>
											<div [class.free]="restaurant.deliveryCosts.costs.costs === 0"><mat-icon>pedal_bike</mat-icon><span>{{ getDeliveryCosts(restaurant.deliveryCosts) }}</span></div>
											<span>·</span>
											<div [class.free]="restaurant.deliveryCosts.minimumAmount === 0"><mat-icon>shopping_basket</mat-icon><span>{{ getMinCosts(restaurant.deliveryCosts) }}</span></div>
										}
									</div>
									<div class="restaurant-row3">
										<mat-icon>near_me</mat-icon><span>{{ getDistance(restaurant.distance) }}</span>
										<span>·</span><mat-icon>pin_drop</mat-icon><span>{{ restaurant.street }}, {{ restaurant.city }}</span>
									</div>
									<div class="restaurant-row4">
										<span>{{ getFreeDeliveryAmount(restaurant) }}</span>
									</div>
								</div>
								<div class="restaurant-vote-container">
									<div class="restaurant-upvote-users">
										@for (upvote of restaurant.upvotes; track upvote) {
											<img [src]="upvote.userImage">
										}
									</div>
									<button class="restaurant-upvote-button" [class.active]="isActive(restaurant.upvotes)" (click)="upvote(restaurant, true)"><mat-icon>keyboard_arrow_up</mat-icon></button>
									<div class="restaurant-votes">{{ restaurant.votes ?? 0 }}</div>
									<div class="restaurant-downvote-users">
										@for (downvote of restaurant.downvotes; track downvote) {
											<img [src]="downvote.userImage">
										}
									</div>
									<button class="restaurant-downvote-button" [class.active]="isActive(restaurant.downvotes)" (click)="downvote(restaurant, true)"><mat-icon>keyboard_arrow_down</mat-icon></button>
								</div>
							</div>
						</mat-list-item>
					}
				</mat-list>
			}
		</div>
	</div>
</div>
