<div class="home-page-container">
	<div class="header">
		<img class="logo" src="../../assets/lunchplanner_logo.png" alt="Logo" />

		<button mat-button [matMenuTriggerFor]="userMenu" class="user-dropdown">
			<div class="user-container">
				<span class="user-full-name">{{ userProfile?.firstName }} {{ userProfile?.lastName }}</span>
				<mat-icon fontIcon="expand_more"></mat-icon>
			</div>
		</button>
		<mat-menu #userMenu="matMenu" xPosition="before">
			<button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
		</mat-menu>
	</div>

	<div class="drawer-container">
		<div class="drawer">
			<div class="search-container">
				<mat-icon fontIcon="search"></mat-icon>
				<input type="text" [(ngModel)]="searchText" placeholder="Search restaurants..."
				(keyup)="onSearchChange($event)" />
			</div>
			<div class="kitchens">
				<mat-accordion multi>
					@for (kitchen of kitchens; track kitchen) {
						<mat-expansion-panel>
							<mat-expansion-panel-header>
								<mat-checkbox class="kitchen-checkbox"
									[checked]="kitchenFilter[kitchen.id].checked"
									[indeterminate]="someChecked(kitchen.id)"
									(change)="setAll(kitchen.id, $event.checked)"
									(click)="$event.stopPropagation()">
									{{ kitchen.description }}
								</mat-checkbox>
							</mat-expansion-panel-header>
							<ul class="subkitchens">
								@for (subkitchen of kitchen.subkitchens; track subkitchen) {
									<li>
										<mat-checkbox [(ngModel)]="kitchenFilter[kitchen.id].subkitchens[subkitchen.id].checked" (ngModelChange)="updateAllComplete(kitchen.id)">
											{{ subkitchen.description }}
										</mat-checkbox>
									</li>
								}
							</ul>
						</mat-expansion-panel>
					}
				</mat-accordion>
			</div>
		</div>
		<div class="drawer-content">
			<mat-list>
				@for (restaurant of filteredRestaurants; track restaurant) {
					<mat-list-item>
						<div class="restaurant" id="{{ restaurant.id }}">
							<img class="restaurant-logo" [src]="restaurant.logourl" alt="{{ restaurant.name }}">
							<div class="restaurant-info-container">
								<h3 class="restaurant-name">{{ restaurant.name }}</h3>
								<p class="restaurant-street">{{ restaurant.street }}</p>
								<p class="restaurant-city">{{ restaurant.city }}</p>
								<p class="restaurant-subkitchens">{{ restaurant.subkitchens.join(', ') }}</p>
							</div>
							<div class="restaurant-vote-container">
								<button class="restaurant-upvote-button"><mat-icon>keyboard_arrow_up</mat-icon></button>
								<button class="restaurant-downvote-button"><mat-icon>keyboard_arrow_down</mat-icon></button>
							</div>
						</div>
					</mat-list-item>
				}
			</mat-list>
		</div>
	</div>
</div>
