.add-restaurant-container {
	height: 100%;
}

.wrapper {
	padding-top: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	mat-form-field,
	button {
		width: 70%;
	}

	button {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
