* {
	box-sizing: border-box;
}

.restaurant-details-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
}

app-header {
	width: 100%;
}

.content-container {
	display: flex;
	flex-direction: row;
	flex: 1;

	.basket-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		width: 300px;
		height: 100%;
		box-shadow: -10px 0 5px -5px rgba(0, 0, 0, 0.3);
		padding: 20px;

		:first-child {
			font-weight: bold;
			font-size: 16pt;
			margin-bottom: 10px;
		}
	}

	.drawer-container {
		display: flex;
		flex-direction: column;
		flex: 1;

		.restaurant-header {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;
			margin: 20px;
		
			.restaurant-logo {
				border-radius: 10px;
				height: auto;
				width: auto;
				max-width: 200px;
				object-fit: cover;
				object-position: center;
			}
		
			.restaurant-infos {
				> * {
					margin-bottom: 5px;
				}
		
				:first-child {
					font-weight: bold;
					font-size: 16pt;
					margin-bottom: 10px;
				}
			}
		}

		.pdf-viewer {
			flex: 1;
			padding: 10px 20px;
		
			object {
				width: 100%;
				height: 100%;
			}
		}
	}
}
