/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: 'gg sans';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/gg\ sans\ Regular.woff') format('woff');
}

@font-face {
	font-family: 'gg sans';
	font-style: normal;
	font-weight: 500;
	src: url('./assets/fonts/gg\ sans\ Medium.woff') format('woff');
}

@font-face {
	font-family: 'gg sans';
	font-style: normal;
	font-weight: 600;
	src: url('./assets/fonts/gg\ sans\ Semibold.woff') format('woff');
}

@font-face {
	font-family: 'gg sans';
	font-style: normal;
	font-weight: bold;
	src: url('./assets/fonts/gg\ sans\ Bold.woff') format('woff');
}

:root {
	--border-color: #2d2626;
	--foreground-color: #181a1b;
	--grey-text-color: #a29a8e;
}

html {
	background-color: #101112;
	color: #e8e6e3;
	font-family: 'gg sans';
}

html,
body {
	height: 100%;
	margin: 0;
}

.mat-mdc-snack-bar-container {
	&.snackbar-success {
		--mdc-snackbar-container-color: green;
		--mat-mdc-snack-bar-button-color: #fff;
		--mdc-snackbar-supporting-text-color: #fff;
	}

	&.snackbar-failure {
		--mdc-snackbar-container-color: red;
		--mat-mdc-snack-bar-button-color: #fff;
		--mdc-snackbar-supporting-text-color: #fff;
		--mat-snack-bar-button-color: #fff;
	}
}

.snackbar-status simple-snack-bar::before {
	font-family: 'Material Icons';
	padding: 10px;
	margin: auto 0;
}

.snackbar-success simple-snack-bar::before {
	content: 'check';
}

.snackbar-failure simple-snack-bar::before {
	content: 'error';
}
