/* You can add global styles to this file, and also import other style files */
:root {
	--border-color: #2d2626;
	--foreground-color: #181a1b;
	--background-color: #101112;
	--highlight-color: #373434;
	--grey-text-color: #a29a8e;
	--secondary-color: #c2185b;
	--mdc-circular-progress-active-indicator-color: var(--secondary-color);
	--mdc-filled-text-field-container-color: #181a1b;
	--mdc-dialog-container-color: var(--background-color);
	--mdc-outlined-button-outline-color: var(--border-color);
}

html {
	background-color: var(--background-color);
	color: #e8e6e3;
}

html,
body {
	height: 100%;
	margin: 0;
}

.remove-scroll .mat-mdc-dialog-surface {
	overflow: unset;
}

.mat-mdc-snack-bar-container {
	&.snackbar-success {
		--mdc-snackbar-container-color: green;
		--mat-mdc-snack-bar-button-color: #fff;
		--mdc-snackbar-supporting-text-color: #fff;
	}

	&.snackbar-failure {
		--mdc-snackbar-container-color: red;
		--mat-mdc-snack-bar-button-color: #fff;
		--mdc-snackbar-supporting-text-color: #fff;
		--mat-snack-bar-button-color: #fff;
	}
}

.snackbar-status simple-snack-bar::before {
	font-family: 'Material Icons';
	padding: 10px;
	margin: auto 0;
}

.snackbar-success simple-snack-bar::before {
	content: 'check';
}

.snackbar-failure simple-snack-bar::before {
	content: 'error';
}
